

<div class="pull-left box-container">

  <nav class="navbar navbar-static-top navbar-inverse">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
          <img src="assets/images/logo.svg">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <li class="active">
            <a ng-href="#" class="glyphicon glyphicon-plus"></a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><input type="text" /> <span class="glyphicon glyphicon-search"> </span </li>
          </ul>
        </div>
      </div>
  </nav>

  <div class="folder-container">
    <div class="folder">
      <div class="bg first"> <span class="cut"> </span> </div>
      <div class="center-text">
        E-Books
      </div>
      <div class="bottom-footer">
        <span class="item pull-left">8 Items</span>
        <span class="item pull-right">
           <img src="assets/images/thumb_no_photo_17.png">
         </span>
      </div>
    </div>
    <div class="folder">
      <div class="bg second"> <span class="cut"> </span> </div>
      <div class="center-text">
        Landing Gifs
      </div>
      <div class="bottom-footer">
        <span class="item pull-left">8 Items</span>
        <span class="item pull-right">
           <img src="assets/images/thumb_no_photo_17.png">
         </span>
      </div>
    </div>
    <div class="folder">
      <div class="bg third"> <span class="cut"> </span> </div>
      <div class="center-text">
        LANDING PAGE
      </div>
      <div class="bottom-footer">
        <span class="item pull-left">8 Items</span>
        <span class="item pull-right">
           <img src="assets/images/thumb_no_photo_17.png">
         </span>
      </div>
    </div>
    <div class="folder">
      <div class="bg fourth"> <span class="cut"> </span> </div>
      <div class="center-text">
        New Social Images
      </div>
      <div class="bottom-footer">
        <span class="item pull-left">8 Items</span>
        <span class="item pull-right">
           <img src="assets/images/thumb_no_photo_17.png">
         </span>
      </div>
    </div>
    <div class="folder">
      <div class="bg fifth"> <span class="cut"> </span> </div>
      <div class="center-text">
        Social Images
      </div>
      <div class="bottom-footer">
        <span class="item pull-left">8 Items</span>
        <span class="item pull-right">
           <img src="assets/images/thumb_no_photo_17.png">
         </span>
      </div>
    </div>

    <div class="text-folder" ng-click="open(box);" ng-class="box.boxClass" ng-repeat="box in boxes">
      <div class="text-container">
        <div class="header-text">
          {{box.header}}
        </div>
        <div class="explain-text"> {{box.boxContent}}</div>
      </div>
      <div class="bottom-footer">
        <span class="item pull-left">{{box.updatedOn}}</span>
        <span class="item pull-right">
           <img src="assets/images/thumb_no_photo_17.png">
         </span>
      </div>
    </div>

    <div class="background-folder">
      <div class="bottom-footer">
        Some Dummy Text
      </div>
    </div>
    <div class="background-folder">
      <div class="bottom-footer">
        Some Dummy Text
      </div>
    </div>
    <div class="background-folder">
      <div class="bottom-footer">
        Some Dummy Text
      </div>
    </div>
    <div class="background-folder">
      <div class="bottom-footer">
        Some Dummy Text
      </div>
    </div>
    
</div>

</div>

<div class="pull-right chat-container">
  <div class="chat-div">
    <div class="logged-in">
      <img class="avatar" src="assets/images/thumb_no_photo_17.png">
      <span class="name"> David Boyero </span>
      <span class="glyphicon glyphicon-bell"></span>
    </div>
    <div class="muted-tag"><i>users</i> <span class="label-button glyphicon glyphicon-plus"> </span></div>

    <div class="online-users">
      <img class="avatar green pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Dan Storbaek
        <span class="green"><i>online</i></span>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar green pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Utsav Sharma
        <span class="green"><i>online</i></span>
      </div>
    </div>

    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar yellow pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Berkey Sargan
        <span class="normal"><i>an hour ago</i></span>
      </div>
    </div>

    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar red pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Taras Puzynyak
        <span class="normal"><i>a day ago</i></span>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="muted-tag"><i>external contacts</i> <span class="label-button glyphicon glyphicon-plus"> </span></div>

    <div class="clearfix"> </div>
    <div class="online-users external">
      <img class="avatar white pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Skaprline Social
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="online-users external">
      <img class="avatar white pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Calvin Hobess
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="muted-tag"><i>private groups</i> <span class="label-button glyphicon glyphicon-plus"> </span></div>
    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar white pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Skarpline
        <span class="normal"><i>an hour ago</i></span>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar white pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        LinkshareTest
        <span class="normal"><i>9 month ago</i></span>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar white pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        prodDeploy
        <span class="normal"><i>2 months ago</i></span>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar white pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Social Channel
        <span class="normal"><i>3 month ago</i></span>
      </div>
    </div>
    <div class="clearfix"> </div>
    <div class="online-users">
      <img class="avatar white pull-left" src="assets/images/thumb_no_photo_17.png">
      <div class="name pull-left">
        Browser Testing
        <span class="normal"><i>6 min ago</i></span>
      </div>
    </div>
  </div>
</div>